
@import '../core.scss';

table {
  border-collapse: collapse;
  border-spacing: 0;

  button,
  [type='button'] {
    padding: .5rem;
  }

  th,
  td {
    border: none;
    border-top: 1px solid;
    padding: .8em 1.25em;
    padding-left: 0;
    text-align: left;
  }

  /* stylelint-disable selector-no-qualifying-type */
  th[scope='row'] {
    text-align: left;
  }
  /* stylelint-enable */

  th:last-child,
  td:last-child {
    padding-right: 0;
    text-align: right;
  }

  thead tr {
    background-color: transparent;
  }

  thead th {
    background-color: transparent;
    border-bottom: 0;
    border-top: none;
    font-size: .8rem;
    font-weight: 800;
  }

  tbody {
    display: flex;
    font-size: $sans-s4;
    line-height: $lh-body;

    @include media($medium-screen) {
      display: table-row-group;
    }

    tr {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      flex-wrap: wrap;

      &:last-child {
        td {
          border-left-width: 0;

          /* stylelint-disable max-nesting-depth */
          @include media($medium-screen) {
            border-left-width: 1px;
          }
          /* stylelint-enable */
        }
      }

      @include media($medium-screen) {
        display: table-row;
      }
    }

    th {
      border-bottom-width: 0;
      border-right-width: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      font-weight: 800;
      height: 21rem;
      justify-content: center;
      margin: 0;
      width: 0;

      /* stylelint-disable selector-no-qualifying-type */
      &[scope='row'] {
        text-align: left;
      }
      /* stylelint-enable */

      span {
        display: block;
        line-height: 1;
        margin-top: 3rem;
        transform: rotate(-90deg);

        @include media($medium-screen) {
          display: inline;
          line-height: initial;
          transform: initial;
        }
      }

      @include media($medium-screen) {
        display: table-cell;
        height: inherit;
        width: auto;
      }
    }

    td {
      border-color: $color-textblack;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 21rem;
      justify-content: center;

      @include media($medium-screen) {
        display: table-cell;
        height: inherit;
      }

      [type='checkbox'] {
        display: inline-block;
        margin-right: 0.5rem;
        width: auto;
      }

    }
  }
}

td table {
  margin: 0;
}

td .tableWrapper {
  border: 1px solid $color-primary;
  border-radius: 3px;
  margin: .8rem 0;
  margin-bottom: 3rem;
  padding: 1.6rem;
}

td thead th {
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
}

td [label='Actions'] {
  text-align: right;
}
