@use 'uswds-core' as *;

.usa-success-message {
  @include u-padding-y(0.5);
  position: relative;
  display: block;
  font-weight: font-weight('bold');
  padding-left: units(3);
  color: color('success');

  &::before {
    @include add-color-icon(
      (
        'name': 'check_circle',
        'color': currentColor,
        'svg-height': 24,
        'svg-width': 24,
        'height': 2.5,
      )
    );
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
