@use 'uswds-core' as *;
@forward './usa-sidenav/index';

.usa-sidenav {
  a:not(.usa-button) {
    padding: units(2);

    &:hover {
      background-color: color('primary-lightest');
      color: unset;
    }
  }

  .usa-current {
    color: $theme-color-primary-dark;

    @include add-bar($theme-sidenav-current-border-width, 'secondary', 'left', 0, 0, 0);

    @include at-media('tablet') {
      @include add-bar($theme-sidenav-current-border-width, 'secondary', 'left', 0, 0, 0);
    }

    &:hover {
      color: $theme-color-primary-dark;
    }
  }
}

.usa-sidenav--sticky {
  position: sticky;
  top: units(2);
}

.usa-sidenav__sublist a:not(.usa-button) {
  padding-left: units(4);
}

.usa-sidenav__sublist .usa-current {
  @include remove-bar;
}

.usa-sidenav__sublist .usa-sidenav__item {
  border-top: 0;
}
