@use 'uswds-core' as *;
@forward './usa-search/index';

[type='search'],
.usa-search__input {
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
}

.usa-search [type='submit'],
.usa-search .usa-search__submit {
  @include u-padding-x('105');
  background-image: none;
  font-size: font-size($theme-search-font-family, '2xs');
  width: auto;
  flex-shrink: 0;
}

.usa-search__submit-text {
  display: block;
}

.usa-search--big [type='submit'],
.usa-search--big .usa-search__submit {
  @include at-media('tablet') {
    @include u-padding-x(4);
    font-size: font-size($theme-search-font-family, 'lg');
  }
}
