@use 'uswds-core' as *;

.usa-select {
  @include u-border-color('primary-light');
  font-weight: font-weight('bold');
  background-color: color('primary-lightest');
  border-radius: radius('md');
}

.usa-select.usa-select--big {
  @include u-padding-x(2);
  height: auto;
  font-size: 1.25rem;
  line-height: 1.5;
}
