code {
  font-family: monospace;
  font-size: 0.9rem;
}

.Header {
  background-color: #333;
  box-shadow: none;
}

.Header-button {
  border-radius: 0;
  font-size: initial;
  margin: 0;
  min-width: initial;
  padding: 0;
}

.preview {
  padding: 1rem;
}

.Frame-panel--sidebar {
  background: #f5f5f3;
}

.Browser-panel {
  background: #fff;
}

.Tree-title,
.Tree-collectionLabel {
  color: #333;
}

.grid-container {
  margin: auto;
  max-width: 1040px;
  padding: 1rem;
  text-align: center;
}

.grid--default-preview .grid {
  padding: 1rem 0;
}

[dir='ltr'] .Header-button {
  border: none;
}

.Tree-title,
.Tree-collectionLabel,
.Tree-item,
.Pen-title,
.Browser-tab a {
  font: normal .85rem/1.2 'Merriweather', system, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
}

.Tree-title,
.Tree-collectionLabel,
[dir="ltr"] .Tree-depth-1 .Tree-collectionLabel,
[dir="ltr"] .Tree-depth-1 .Tree-entityLink {
  padding-left: 0;
}

.Tree-collectionLabel {
  font-weight: 700;
}

ul.Tree-collectionItems {
  padding-left: .9rem;
}

[dir="ltr"] .Tree-collectionLabel span {
  margin: 0;
}

ol,ul {
  padding-left: 0;
}

[dir="ltr"] .Tree-title {
  padding-left: 0;
}

.Frame-panel--sidebar {
  padding: 1.25rem 1rem;
}

[dir="ltr"] .Tree-depth-3 .Tree-collectionLabel {
  font-weight: 500;
  font-size: .85rem;
}

.Tree-title {
  font-size: .7rem;
}

.Tree-collectionLabel {
  font-size: 1rem;
}

[dir="ltr"] .Tree-collectionLabel span::before {
  left: -3px;
  top: 3px;
  background-size: 10px;
}

.Tree-title, .Tree-collectionLabel, [dir="ltr"] .Tree-depth-1 .Tree-collectionLabel, [dir="ltr"] .Tree-depth-1 .Tree-entityLink {
  padding-left: 12px;
}

.Tree-depth-1 {
  padding-left: -12px;
}

.Pen-title {
  font-size: 1.75rem;
  font-weight: 200;
}

.Pen-header {
  padding: 2.5rem 0.75rem
}

[dir="ltr"] .Pen-previewLink svg {
  margin-left: 4px;
  margin-bottom: 1px;
}

.Browser-tab a {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  margin-top: 4px;
  margin-left: 8px;
}

.Browser-tab a span {
  padding-top: 1px;
}

.Browser-tab svg {
  fill: #838383;
  padding-right: 4px;
  height: 32px;
  width: 24px;
}

.Browser-tab.is-active svg {
  fill: #056DD4;
}

.Browser-tab.is-active a {
  border-bottom-color: #056DD4;
}

.Meta-value {
  white-space: normal;
}


/* pattern library helper styles */

body {
  background-color: white;
}

.pattern {
  margin: 8px 8px 32px;
}

.pattern-example {
  margin-bottom: 8px;
}

.swatch {
  float: left;
  width: 160px;
  height: 160px;
  margin: 8px 8px 32px;
}

.swatch-color {
  height: 120px;
  margin-bottom: 8px;
}

.grid-container h2 {
  color: #333;
  text-align: left;
  margin-bottom: 24px;
}

.subhed {
  margin-bottom: 24px;
  line-height: 1.3;
}

.grid-container div + h2 {
  margin-top: 56px;
}

.grid-container .pattern-content {
  height: 32px;
}


.wf-box {
  background-color: #333;
}

.coltest {
  height: 72px;
  border-left: 1px dashed #d3d3d3;
  border-right: 1px dashed #d3d3d3;
  margin-bottom: 24px;
  position: relative;
  padding: 4px;
}

.coltest .pattern-name {
  font-family: 'Merriweather';
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
  text-align: center;
  color: #333;
}

.coltest .pattern-code {
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: #333;
}

.standard-grid .coltest {
  background-color: white;
  margin-bottom: 0;
}

.standard-grid .grid {
  background-color: #f5f5f3;
  padding: 0;
  margin-bottom: 32px;
}

.flex-grid .coltest + .coltest {
  border-left: none;
}

.placeholder {
  overflow: hidden;
  background-color: #d3d3d3;
  height: 16px;
  width: 100%;
  border-radius: 2px;
  vertical-align: middle;
}

.placeholder-lg {
  overflow: hidden;
  background-color: #d3d3d3;
  height: 32px;
  width: 100%;
  border-radius: 2px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Merriweather';
  color: #333;
}

.placeholder-med {
  overflow: hidden;
  background-color: #d3d3d3;
  height: 16px;
  width: 100%;
  border-radius: 2px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Merriweather';
  color: #333;
}

.placeholder-sm {
  overflow: hidden;
  background-color: #d3d3d3;
  height: 8px;
  width: 100%;
  border-radius: 2px;
  vertical-align: middle;
}

.placeholder-w1 {
  overflow: hidden;
  height: 32px;
  width: 160px;
  border-radius: 2px;
}

.placeholder-w2 {
  overflow: hidden;
  height: 32px;
  width: 64px;
  border-radius: 2px;
}

p { text-align: left; }

.Prose h1 {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.05;
  letter-spacing: normal;
}

.Prose h2 {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.05;
  letter-spacing: normal;
  margin-bottom: .5em;
  border-top: 1px solid #333;
  padding-top: 16px;
}

.Prose h3 {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 24px;
  line-height: 1.05;
  letter-spacing: normal;
  margin-bottom: .5em;
  color: #333;
  opacity: 1;
  margin-top: 1.5em;
}

body._hasBackground {
  background-color: #f5f5f3;
}
body._hasBackgroundDark {
  background-color: #333;
}


.Prose table {
  margin: 2em 0;
}

.Prose code,
.Prose code pre {
  font-family: 'Roboto Mono';
  background-color: transparent;
}

.Prose code {
  background-color: rgba(165, 234, 255, 0.22);
}

.Prose code pre {
  font-family: 'Roboto Mono';
  background-color: transparent;
  display: block;
}

.Prose th {
  font-family: 'Merriweather';
  font-weight: 700;
  background-color: #f5f5f3;
  border-color: transparent;
}

.Prose code.lang-yaml {
  display: block;
  border-radius: 2px;
}

.Prose code.lang-yaml pre {
  margin: 0;
  padding: 16px;
}

.Document-header {
  padding-bottom: 24px;
  padding-top: 16px;
  border-bottom: none;
}

.Document-title {
  font-family: 'Merriweather';
  font-size: 40px;
}

table tbody td {
  border-color: #d3d3d3;
}

.Prose ul,
.Prose ol {
  font-family: 'Merriweather';
  font-weight: 400;
}

.Status-dot {
  border-width: 4px;
}

.Tree-entityLink .Status {
  margin: 0 8px 0 0;
  order: -1;
}
