$alerts: 'success', 'warning', 'error', 'info', 'emergency';

.usa-alert {
  border-radius: radius('lg');

  &::before {
    background-color: transparent;
    background-position: center;
    mask: none;
  }
}

@each $name in $alerts {
  .usa-alert--#{$name} {
    &::before {
      @include add-background-svg('alerts/#{$name}');
    }

    .usa-alert__body {
      padding-left: units($theme-alert-icon-size) + (1.5 * $alert-icon-optical-padding);
    }
  }
}

.usa-alert--other {
  background-color: color('primary-lighter');
}

// Temporarily supporting this class until USWDS formally supports this again
// or has an alternate recommendation.
.usa-alert__paragraph {
  max-width: 66ch;
}
