.usa-button {
  &:visited {
    color: color('white');
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-dark');
    border-bottom: 0;
    color: color('white');
    text-decoration: none;
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-darker');
    color: color('white');
  }

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    outline-offset: units(0.5);
  }

  &:disabled {
    @include button-disabled;
  }
}

.usa-button--unstyled {
  position: relative;
  text-underline-offset: 3px;

  // In USWDS, unstyled button styles are applied last to take precedence over base button styles.
  // Since we override base button styles, we must re-apply the unstyled button styles.
  &.usa-button {
    @include button-unstyled;
  }

  // Hover colors are already applied by USWDS via `typeset-link`, but this does not include the
  // button modifier classes.
  &:hover,
  &.usa-button--hover {
    color: color($theme-link-hover-color);
  }

  &:active,
  &.usa-button--active {
    color: color($theme-link-active-color);
  }

  &:disabled {
    color: color('disabled');
  }

  &.usa-button:not([disabled]):focus,
  &.usa-button:not([disabled]).usa-focus {
    box-shadow: none;

    &::before {
      border-radius: .125rem;
      bottom: -5px;
      box-shadow: 0 0 0 $theme-focus-width color($theme-focus-color);
      content: '';
      left: -5px;
      pointer-events: none;
      position: absolute;
      right: -5px;
      top: -5px;
    }
  }
}

.usa-button:not([disabled]):focus,
.usa-button:not([disabled]).usa-focus {
  @include disable-default-focus-styles;
  box-shadow: roundable-focus-outline-box-shadows();
}

.usa-button--secondary,
.usa-button--outline {
  background-color: color('white');
  box-shadow: $button-stroke color('primary');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    box-shadow: $button-stroke color('primary'), roundable-focus-outline-box-shadows();
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lightest');
    color: color('primary');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-lighter');
    color: color('primary');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('white');
    box-shadow: $button-stroke color('disabled');
    color: color('disabled');
  }
}

.usa-button--danger {
  background-color: map-get($site-palette, 'site-red');

  &:hover,
  &.usa-button--hover {
    background-color: map-get($site-palette, 'site-dark-red');
  }

  &:active,
  &.usa-button--active {
    background-color: map-get($site-palette, 'site-darkest-red');
  }
}

.usa-button--inverse {
  background-color: color('primary-lighter');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lighter');
    color: color('primary');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-light');
    color: color('primary-dark');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('disabled');
    color: color('white');
  }
}

.usa-button--wide {
  @include at-media('tablet') {
    min-width: 14rem;
  }
}

.usa-button--full-width {
  width: 100%;
}

.usa-form a.usa-button.usa-button--danger { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('white');
  text-decoration: none;

  &:visited {
    color: color('white');
    text-decoration: none;
  }
}

.usa-form a.usa-button.usa-button--outline { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('primary');
  text-decoration: none;

  &:visited {
    color: color('primary');
    text-decoration: none;
  }
}
