$button-stroke-big: inset 0 0 0 units($theme-button-stroke-width * 2);

.usa-button {
  line-height: 1;

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    @include disable-default-focus-styles;
    box-shadow: roundable-focus-outline-box-shadows();
  }
}

.usa-button--big {
  @include u-padding-x('205');
  border-radius: units(1);
  font-size: 1.25rem;
}

.usa-button--unstyled {
  // In USWDS, unstyled button styles are applied last to take precedence over base button styles.
  // Since we override base button styles, we must re-apply the unstyled button styles.
  @include button-unstyled;
  position: relative;

  // If upstream USWDS changes are merged to revise default behavior of unstyled font smoothing
  // reset, these styles could be safely removed.
  //
  // See: https://github.com/uswds/uswds/pull/4115
  &,
  &:hover,
  &.usa-button--hover,
  &:active,
  &.usa-button--active,
  &:disabled,
  &.usa-button--disabled {
    -moz-osx-font-smoothing: inherit;
    -webkit-font-smoothing: inherit;
  }

  // USWDS currently only sets hover and active unstyled button styles for the browser-native
  // states, and not with the modifier classes. It also does not apply these styles to the disabled
  // button, allowing some background color to bleed through. These overrides may be removed if an
  // upstream fix is merged.
  //
  // See: https://github.com/uswds/uswds/pull/4077
  &.usa-button--hover,
  &.usa-button--active,
  &:disabled,
  &.usa-button--disabled {
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  // Hover colors are already applied by USWDS via `typeset-link`, but this does not include the
  // button modifier classes.
  &:hover,
  &.usa-button--hover {
    color: color($theme-link-hover-color);
  }

  &:active,
  &.usa-button--active {
    color: color($theme-link-active-color);
  }

  &:disabled {
    color: color('disabled');
  }

  &.usa-button:not([disabled]):focus,
  &.usa-button:not([disabled]).usa-focus {
    box-shadow: none;

    &::before {
      border-radius: .125rem;
      bottom: -5px;
      box-shadow: 0 0 0 $theme-focus-width color($theme-focus-color);
      content: '';
      left: -5px;
      pointer-events: none;
      position: absolute;
      right: -5px;
      top: -5px;
    }
  }
}

.usa-button--secondary,
.usa-button--outline {
  background-color: color('white');
  box-shadow: $button-stroke color('primary');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:not([disabled]):focus,
  &:not([disabled]).usa-focus {
    box-shadow: $button-stroke color('primary'), roundable-focus-outline-box-shadows();
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lightest');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-lighter');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('white');
    box-shadow: $button-stroke color('disabled');
    color: color('disabled');
  }

  &.usa-button--big {
    box-shadow: $button-stroke-big color('primary');

    &:not([disabled]):focus,
    &:not([disabled]).usa-focus {
      box-shadow: $button-stroke-big color('primary'), roundable-focus-outline-box-shadows();
    }

    &:hover,
    &.usa-button--hover {
      box-shadow: $button-stroke-big color('primary-dark');
    }

    &:active,
    &.usa-button--active {
      box-shadow: $button-stroke-big color('primary-darker');
    }

    &:disabled,
    &.usa-button--disabled {
      box-shadow: $button-stroke-big color('disabled');
    }

    &.usa-button--inverse {
      box-shadow: $button-stroke-big color('base-lighter');

      &:hover,
      &.usa-button--hover {
        box-shadow: $button-stroke-big color($theme-link-reverse-hover-color);
      }

      &:active,
      &.usa-button--active {
        box-shadow: $button-stroke-big color($theme-link-reverse-active-color);
      }
    }
  }
}

.usa-button--danger {
  background-color: map-get($site-palette, 'site-red');

  &:hover,
  &.usa-button--hover {
    background-color: map-get($site-palette, 'site-dark-red');
  }

  &:active,
  &.usa-button--active {
    background-color: map-get($site-palette, 'site-darkest-red');
  }
}

.usa-button--inverse {
  background-color: color('primary-lighter');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lighter');
    color: color('primary');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-light');
    color: color('primary-dark');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('disabled');
    color: color('white');
  }
}

.usa-button--flexible-width {
  width: auto;
}

.usa-button--wide {
  @include at-media('mobile-lg') {
    min-width: 14rem;
  }
}

.usa-button--full-width {
  width: 100%;
}

.usa-form a.usa-button.usa-button--danger { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('white');
  text-decoration: none;

  &:visited {
    color: color('white');
    text-decoration: none;
  }
}

.usa-form a.usa-button.usa-button--outline { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('primary');
  text-decoration: none;

  &:visited {
    color: color('primary');
    text-decoration: none;
  }
}
