.usa-button {
  &:visited {
    color: color('white');
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-dark');
    border-bottom: 0;
    color: color('white');
    text-decoration: none;
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-darker');
    color: color('white');
  }

  &:focus,
  &.usa--focus {
    outline-offset: units(0.5);
  }

  &:disabled {
    @include button-disabled;
  }
}

.usa-button:focus,
.usa-button.usa-focus {
  @include disable-default-focus-styles;
  box-shadow: roundable-focus-outline-box-shadows();
}

.usa-button--secondary,
.usa-button--outline {
  background-color: color('white');
  box-shadow: $button-stroke color('primary');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:focus,
  &.usa-focus {
    box-shadow: $button-stroke color('primary'), roundable-focus-outline-box-shadows();
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lightest');
    color: color('primary');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-lighter');
    color: color('primary');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('white');
    box-shadow: $button-stroke color('disabled');
    color: color('disabled');
  }
}

.usa-button--danger {
  background-color: map-get($site-palette, 'site-red');

  &:hover,
  &.usa-button--hover {
    background-color: map-get($site-palette, 'site-dark-red');
  }

  &:active,
  &.usa-button--active {
    background-color: map-get($site-palette, 'site-darkest-red');
  }
}

.usa-button--inverse {
  background-color: color('primary-lighter');
  color: color('primary');

  &:visited {
    color: color('primary');
  }

  &:hover,
  &.usa-button--hover {
    background-color: color('primary-lighter');
    color: color('primary');
  }

  &:active,
  &.usa-button--active {
    background-color: color('primary-light');
    color: color('primary-dark');
  }

  &:disabled,
  &.usa-button--disabled {
    background-color: color('disabled');
    color: color('white');
  }
}

.usa-form a.usa-button.usa-button--danger { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('white');
  text-decoration: none;

  &:visited {
    color: color('white');
    text-decoration: none;
  }
}

.usa-form a.usa-button.usa-button--outline { /* stylelint-disable-line selector-no-qualifying-type */
  color: color('primary');
  text-decoration: none;

  &:visited {
    color: color('primary');
    text-decoration: none;
  }
}
