$theme-input-tile-background-color-selected: 'primary-lightest';
$theme-input-tile-border-color: 'primary-light';
$theme-input-tile-border-color-selected: 'primary-light';
$theme-input-bordered-background-color-selected: $theme-input-tile-background-color-selected;
$theme-input-bordered-border-radius: $theme-input-tile-border-radius;
$theme-input-bordered-border-width: $theme-input-tile-border-width;
$theme-input-bordered-border-color: $theme-input-tile-border-color;
$theme-input-bordered-border-color-selected: $theme-input-tile-border-color-selected;

$input-padding: 1;
$icon-size: 2;
$border-width: 1px;
$checkbox-radio-size: 0.875rem;
$input-select-margin-right: 1;

.usa-input,
.usa-textarea,
.usa-select {
  @include u-border-color('primary-light');
  font-weight: font-weight('bold');
  background-color: color('primary-lightest');
  border-radius: radius('md');
}

.usa-input--error {
  @include u-border-color('error');
}

[type='search'],
.usa-search__input {
  // Restore USWDS inherited square corners customized for `.usa-input`.
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
}

.usa-label {
  font-weight: font-weight('bold');
}

@include override-prose {
  .usa-input-list {
    margin-top: units(1);
  }
}

.usa-radio__label,
.usa-checkbox__label {
  @include u-line-height($theme-form-font-family, $theme-body-line-height);
  display: inline-block;
  margin-bottom: units(1);
  padding-left: $checkbox-radio-size + units($input-select-margin-right);

  &::before {
    background-color: color('primary-lightest');
    box-shadow: inset 0 0 0 units($border-width) color('primary');
    height: $checkbox-radio-size;
    margin-left: 0;
    margin-right: 0;
    margin-top: divide(
      line-height($theme-form-font-family, $theme-body-line-height) *
        font-size($theme-form-font-family, $theme-body-font-size) - $checkbox-radio-size,
      2
    );
    width: $checkbox-radio-size;
  }
}

.usa-radio__input:disabled + .usa-radio__label,
.usa-checkbox__input:disabled + .usa-checkbox__label {
  color: color('disabled');
  border-color: color('disabled');
}

.usa-radio__label::before {
  border-radius: 50%;
}

.usa-radio__input:disabled+.usa-radio__label::before,
.usa-checkbox__input:disabled + .usa-checkbox__label::before {
  box-shadow: inset 0 0 0 units($border-width) color('disabled');
}

.usa-radio__input:checked:disabled + .usa-radio__label::before {
  box-shadow: inset 0 0 0 3px color('disabled');
  background-color: color('white');
}

.usa-checkbox__input:checked:disabled + .usa-checkbox__label::before {
  background-color: color('disabled');
  box-shadow: inset 0 0 0 units($border-width) color('disabled');
  background-size: 0.5rem auto;
}

.usa-radio__input:checked + .usa-radio__label::before {
  background-color: color('white');
  box-shadow: inset 0 0 0 3px color('primary');
}

.usa-checkbox__input:checked + .usa-checkbox__label::before {
  box-shadow: inset 0 0 0 units($border-width) color('primary');
  background-size: 0.5rem auto;
}

.usa-radio__input.usa-focus + .usa-radio__label::before,
.usa-radio__input:focus + .usa-radio__label::before {
  @include focus-outline();
}

.usa-radio__input:checked.usa-focus + .usa-radio__label::before,
.usa-radio__input:checked:focus + .usa-radio__label::before {
  @include focus-outline();
}

.usa-checkbox__input.usa-focus + .usa-checkbox__label::before,
.usa-checkbox__input:focus + .usa-checkbox__label::before {
  @include focus-outline();
}

.usa-checkbox__input:checked.usa-focus + .usa-checkbox__label::before,
.usa-checkbox__input:checked:focus + .usa-checkbox__label::before {
  @include focus-outline();
}

.usa-checkbox__input--tile + .usa-checkbox__label,
.usa-radio__input--tile + .usa-radio__label {
  @include u-text('primary', 'bold');
  @include u-display('block');
  @include u-padding(3);
  padding-left: units(3) + $checkbox-radio-size + $input-select-margin-right;
  border-color: color($theme-input-tile-border-color);
  max-width: units($theme-input-max-width);
  font-size: 1.125rem;

  &::before {
    left: units(3);
    margin-top: divide(
      line-height($theme-form-font-family, $theme-body-line-height) * 1.125rem -
        $checkbox-radio-size,
      2
    );
  }
}

.usa-radio__input--tile:disabled + .usa-radio__label--illustrated .usa-radio__image,
.usa-checkbox__input--tile:disabled + .usa-checkbox__label--illustrated .usa-checkbox__image {
  filter: invert(45%) sepia(1%) saturate(0%) hue-rotate(232deg) brightness(100%) contrast(80%);
}

.usa-checkbox__input--tile + .usa-checkbox__label--illustrated,
.usa-radio__input--tile + .usa-radio__label--illustrated {
  align-items: flex-start;

  @include at-media('tablet') {
    display: flex;
  }

  .usa-radio__image,
  .usa-checkbox__image {
    width: 1.5rem;
    float: left;
    margin-right: 0.5rem;
    @include at-media('tablet') {
      width: 2.625rem;
      padding-top: 0.25rem;
    }
  }

  .usa-radio__label--text,
  .usa-checkbox__label--text {
    @include at-media('tablet') {
      flex: 1;
      padding-left: 0.5rem;
    }
  }
}

.usa-radio__input--bordered + .usa-radio__label,
.usa-checkbox__input--bordered + .usa-checkbox__label {
  @include u-display('table'); // Margin collapse of a "block" while retaining collapsed width.
  border: units($theme-input-bordered-border-width) solid color($theme-input-bordered-border-color);
  border-radius: radius($theme-input-bordered-border-radius);
  margin: units(1) 0;
  max-width: units($theme-input-max-width);
  padding: units(1) units(2) units(1) #{units(2) + $checkbox-radio-size +
    units($input-select-margin-right)};

  &::before {
    left: units(2);
  }
}

.usa-checkbox__input--bordered:checked + .usa-checkbox__label,
.usa-radio__input--bordered:checked + .usa-radio__label {
  background-color: color($theme-input-bordered-background-color-selected);
  border-color: color($theme-input-bordered-border-color-selected);
}

.usa-checkbox__input--bordered:checked:disabled + .usa-checkbox__label,
.usa-radio__input--bordered:checked:disabled + .usa-radio__label {
  background-color: transparent;
  border-color: color('disabled');
}

.usa-checkbox__input--tile:checked + .usa-checkbox__label,
.usa-radio__input--tile:checked + .usa-radio__label {
  background-color: color($theme-input-tile-background-color-selected);
  border-color: color($theme-input-tile-border-color-selected);
}

.usa-checkbox__label-description,
.usa-radio__label-description {
  @include typeset($theme-body-font-family, $theme-body-font-size, $theme-body-line-height);
  @include u-text('ink', 'normal');
}

.usa-legend {
  @include u-font-size('sans', '2xs');
  text-transform: uppercase;
  font-weight: font-weight('normal');
  border-bottom: $border-width color('primary-light') solid;
  width: 100%;
  max-width: units($theme-input-max-width);
  padding: units(1) 0;
}

.usa-memorable-date {
  margin-bottom: units(1);
}

.usa-form-hint {
  padding-top: units(0.5);
  padding-bottom: units(0.5);
  display: inline-block;
}

.usa-error-message,
.usa-success-message {
  @include u-padding-y(0.5);
  background-position: 0 0.5em;
  background-size: units($icon-size);
  display: block;
  font-weight: font-weight('bold');
  padding-left: units($icon-size * 1.5);
}

.usa-error-message {
  @include add-background-svg('alerts/error');
  color: color('error');
}

.usa-success-message {
  @include add-background-svg('alerts/success');
  color: color('success');
}
