$header-height: 10;

// Header navigation
// ---------------------------------

.usa-header--extended,
.usa-header--basic {
  .usa-logo {
    @include at-media-max($theme-header-min-width) {
      font-size: unset;
      flex: unset;
    }

    @include at-media($theme-header-min-width) {
      font-size: unset;
      margin: 0;
    }

    line-height: units(2);
  }

  .usa-navbar {
    @include at-media-max($theme-header-min-width) {
      border-bottom: units(1px) solid color('base-light');
      justify-content: space-between;
    }

    @include at-media($theme-header-min-width) {
      display: flex;
      align-items: center;
      height: units($header-height);
    }
  }
}

.usa-header {
  + .usa-section,
  + main {
    @include at-media($theme-header-min-width) {
      border-top: units(1px) solid color('base-light');
    }
  }
}

// Header navigation for basic
// ---------------------------------

.usa-header--basic {
  .usa-nav-container {
    @include at-media($theme-header-min-width) {
      align-items: center;
    }
  }

  .usa-nav {
    @include at-media($theme-header-min-width) {
      padding: 0;
    }
  }
}

// Header navigation for extended
// ---------------------------------

.usa-header--extended .usa-nav {
  @include at-media($theme-header-min-width) {
    border-top: 0;
    padding: 0;
    width: 100%;
  }
}

// Secondary navigation
// ---------------------------------

.usa-nav__secondary {
  @include at-media($theme-header-min-width) {
    top: 0;
    bottom: unset;
    margin-top: 0;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: units($header-height);
  }
}

.usa-nav__secondary-links {
  @include add-list-reset;
  line-height: line-height($theme-navigation-font-family, 3);
  margin-top: units(3);

  @include at-media($theme-header-min-width) {
    float: right;
    line-height: line-height($theme-navigation-font-family, 1);
    margin-bottom: units(0.5);
    margin-top: 0;
  }

  .usa-nav__secondary-item {
    @include at-media($theme-header-min-width) {
      display: inline;
      padding-left: units(0.5);

      & + .usa-nav__secondary-item::before {
        color: color('base-lighter');
        content: '|';
        padding-right: units(0.5);
      }
    }
  }

  a {
    color: color('ink');
    display: inline-block;
    font-size: font-size($theme-navigation-font-family, 'xs');
    text-decoration: none;

    &:hover {
      color: color('primary');
      text-decoration: underline;
    }
  }
}

// Navigation menu
// ---------------------------------

.usa-logo__img {
  @include at-media-max($theme-header-min-width) {
    height: units(2);
  }

  @include at-media($theme-header-min-width) {
    height: units(3);
  }
}

.usa-logo__text {
  @include at-media-max($theme-header-min-width) {
    @include u-font-size($theme-header-font-family, 3);
    padding-left: 17px;
  }

  @include at-media($theme-header-min-width) {
    @include u-font-size($theme-header-font-family, 4);
    padding-left: 27px;
  }

  color: color('secondary');
}
