// password strength module

$space-tiny: .25rem !default;

.usa-input--lg-password {
  @extend .usa-input;
}

.lg-password--bar {
  background-color: #e9e9e9;
  border: $space-tiny solid #fff;
  border-radius: 6px;
  box-sizing: border-box;
  height: 16px;
  float: left;
  width: 25%;
  margin-top: .25rem;
}

div[class*="lg-password-strength--"] {
    width: 100%;
    max-width: 30rem;
}

.lg-password-strength--weak {
  .lg-password--bar:nth-child(-n+1) { background-color: map-get($site-palette, 'site-red' ); }
}

.lg-password-strength--so-so {
  .lg-password--bar:nth-child(-n+2) { background-color: map-get($site-palette, 'site-yellow' ); }
}

.lg-password-strength--good {
  .lg-password--bar:nth-child(-n+3) { background-color: map-get($site-palette, 'site-light-green' ); }
}

.lg-password-strength--great {
  .lg-password--bar { background-color: map-get($site-palette, 'site-green' ); }
}
