.usa-process-list,
.usa-prose .usa-process-list {
  padding-left: (units($theme-process-list-counter-size) * 0.5) - (0.3125rem * 0.5);
}

.usa-process-list:not(.usa-process-list--connected) .usa-process-list__item,
.usa-prose .usa-process-list:not(.usa-process-list--connected) .usa-process-list__item {
  border-left-width: 0;
}

.usa-process-list__item,
.usa-prose .usa-process-list__item {
  padding-left: units(2) + (units($theme-process-list-counter-size) * 0.5) - (0.3125rem * 0.5);
  border-left-width: 0.3125rem;

  &::before {
    margin-top: #{(units($theme-process-list-counter-size) - (1.125rem * lh('heading', 2))) * -0.5};
  }
}

.usa-process-list__heading {
  font-size: 1.125rem;

  & + * {
    margin-top: units(1);
  }
}

.usa-process-list.usa-process-list--big {
  padding-left: units(2.5);

  .usa-process-list__item {
    padding-left: units(6);
    border-left-width: units(1);

    &::before {
      margin-top: #{(3.125rem - (1.125rem * lh('heading', 2))) * -0.5};
      width: 3.125rem;
      height: 3.125rem;
      font-size: units(3);
    }
  }
}
