.usa-prose {
  @include add-knockout-font-smoothing;
}

.usa-prose > {
  h1, h2, h3, h4 {
    + * {
      margin-top: 0.4em;
    }
  }

  h1, h2, h3 {
    letter-spacing: -0.2px;
  }

  * + h2,
  * + h3 {
    margin-top: 1.7em;
  }

  h4 {
    letter-spacing: -0.1px;
  }

  * + h4 {
    margin-top: 2.5em;
  }

  h5, h6 {
    @include u-font-family('sans');
    text-transform: uppercase;

    + * {
      margin-top: 0.2em;
    }
  }

  * + h5,
  * + h6 {
    margin-top: 3em;
  }

  h5 {
    letter-spacing: 0.2px;
  }

  h6 {
    @include u-font-size('sans', 'micro');
    @include u-font-weight('bold');
    letter-spacing: 0.3px;
  }

  // https://github.com/uswds/uswds/pull/2906
  ol, ul {
    &:last-child {
      margin-bottom: 0;
    }

    li {
      max-width: measure($theme-text-measure);
    }
  }
}

.usa-layout-docs__sidenav + .usa-layout-docs__main.usa-prose > {
  h1 {
    @include typeset-h1;
    + * {
      margin-top: 0.5em;
    }
  }
}

.usa-layout-docs__main.usa-prose > {
  h1 {
    @include typeset-display;
  }
}

.usa-intro {
  @include u-font-size('sans', 'md');

  @include at-media('mobile-lg') {
    @include u-font-size('sans', $theme-lead-font-size);
  }
}

@mixin text-wrap-mixin {
  word-break: break-all;
}

.text-wrap {
  @include text-wrap-mixin;
}
