.lg-verification-badge {
  @include u-radius('pill');
  background-color: map-get($site-palette, 'site-white');
  border: units(1px) solid map-get($site-palette, 'site-green');
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: units(1) units(2);
  white-space: nowrap;

  img {
    margin-right: units(1);
  }
}
