@use 'sass:color';
@use 'sass:math';
@use 'sass:meta';

$black: #000c1f;
$off-black: #000c1f;
$midnight: #000c1f;
$off-white: #f5f9fc;
$white: #ffffff;

$red-600: #e21d3e;
$red-500: #f6889c;
$red-300: #fec7d2;

$yellow-900: #754400;
$yellow-500: #e99b00;
$yellow-300: #f7c34a;

$green-600: #077e23;
$green-500: #0aa93a;
$green-300: #3dd164;

$blue-500: #0066c5;
$blue-600: #003980;
$blue-700: #00163b;
$blue-800: #00163b;
$blue-900: #001c48;

@function alpha($color, $opacity) {
  @if meta.type-of($opacity) != 'number' {
    @error 'alpha() expected a percentage or unitless 0–1, got #{$opacity}';
  }

  @if math.unit($opacity) == '%' {
    @return color.change($color, $alpha: math.div($opacity, 100%));
  }

  @if math.is-unitless($opacity) {
    @return color.change($color, $alpha: $opacity);
  }

  @error 'alpha() expected a percentage or unitless 0–1, got #{$opacity}';
}
