  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title %}{{ page.title | xml_escape }} / {% endif %}
    {{ site.title | xml_escape }}
  </title>

  {% include meta.html %}

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  {% include stylesheets.html %}
