{% capture _meta_ %}
{% assign _meta_names = 'title description' | split: ' ' %}
{% for _meta in site.meta %}{% unless _meta_names contains _meta[0] %}{% assign _meta_names = _meta_names | push: _meta[0] %}{% endunless %}{% endfor %}
{% for _meta in page.meta %}{% unless _meta_names contains _meta[0] %}{% assign _meta_names = _meta_names | push: _meta[0] %}{% endunless %}{% endfor %}
{% for _meta in _meta_names %}
  {% capture _meta_content %}{% if _meta contains ':image' %}{{ site.url }}{% endif %}{{ page.meta[_meta] | default: site.meta[_meta] | default: site[_meta] }}{% endcapture %}
  {% if _meta_content %}<meta name="{{ _meta }}" content="{{ _meta_content | xml_escape }}">{% unless _meta contains ':' %}
  <meta property="og:{{ _meta }}" content="{{ _meta_content | xml_escape }}">{% endunless %}{% endif %}
{% endfor %}
  <!-- meta tags: {{ _meta_names | jsonify }} -->
{% endcapture _meta_ %}{{ _meta_ | strip }}
