@use 'uswds-core' as *;

.usa-tag {
  display: inline-block;
  font-size: units(2);
  text-transform: none;
  line-height: 1.5;
}

.usa-tag--big {
  font-size: units(2.5);
}

.usa-tag--informative {
  @include u-bg('accent-cool-darker');
}
