/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME COLOR SETTINGS
----------------------------------------
-
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
-
----------------------------------------
*/

$site-palette: (
  'site-darkest-blue': #0c213a,
  'site-darker-blue': #112e51,
  'site-dark-blue': #205493,
  'site-blue': #0071bb,
  'site-light-blue': #cedced,
  'site-lighter-blue': #ebf3fa,
  'site-lightest-blue': #f2f9ff,

  'site-darkest-teal': #006175,
  'site-darker-teal': #007187,
  'site-dark-teal': #008099,
  'site-teal': #00a2c4,
  'site-light-teal': #7bbfd6,
  'site-lighter-teal': #b7dde9,
  'site-lightest-teal': #ecfcff,

  'site-darkest-red': #680617,
  'site-darker-red': #8b0a21,
  'site-dark-red': #ab142f,
  'site-red': #e21c3d,
  'site-light-red': #ea7b85,
  'site-lighter-red': #f3b8be,
  'site-lightest-red': #fff0f3,

  'site-darkest-grey': #1b1b1b,
  'site-darker-grey': #454545,
  'site-dark-grey': #5c5c5c,
  'site-grey': #767676,
  'site-light-grey': #adadad,
  'site-lighter-grey': #dedede,
  'site-lightest-grey': #f0f0f0,
  'site-ink': #454545,
  'site-disabled-grey': #767676,

  'site-darkest-yellow': #504332,
  'site-darker-yellow': #847122,
  'site-dark-yellow': #bba212,
  'site-yellow': #f5d600,
  'site-light-yellow': #f9e450,
  'site-lighter-yellow': #fcf197,
  'site-lightest-yellow': #fffdd7,

  'site-darkest-green': #094316,
  'site-darker-green': #0e581e,
  'site-dark-green': #136e26,
  'site-green': #18852e,
  'site-light-green': #60ae70,
  'site-lighter-green': #a6d5af,
  'site-lightest-green': #ebfcef,

  'site-white': #ffffff,
);

$project-color-shortcodes: $site-palette;

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family:           'grey';
$theme-color-base-lightest:         map-get($site-palette, 'site-lightest-grey');
$theme-color-base-lighter:          map-get($site-palette, 'site-lighter-grey');
$theme-color-base-light:            map-get($site-palette, 'site-light-grey');
$theme-color-base:                  map-get($site-palette, 'site-grey');
$theme-color-base-dark:             map-get($site-palette, 'site-dark-grey');
$theme-color-base-darker:           map-get($site-palette, 'site-darker-grey');
$theme-color-base-darkest:          map-get($site-palette, 'site-darkest-grey');
$theme-color-base-ink:              map-get($site-palette, 'site-ink');

// Primary colors
$theme-color-primary-lightest:      map-get($site-palette, 'site-lightest-blue');
$theme-color-primary-lighter:       map-get($site-palette, 'site-lighter-blue');
$theme-color-primary-light:         map-get($site-palette, 'site-light-blue');
$theme-color-primary:               map-get($site-palette, 'site-blue');
$theme-color-primary-vivid:         map-get($site-palette, 'site-blue');
$theme-color-primary-dark:          map-get($site-palette, 'site-dark-blue');
$theme-color-primary-darker:        map-get($site-palette, 'site-darker-blue');
$theme-color-primary-darkest:       map-get($site-palette, 'site-darkest-blue');

// Secondary colors
$theme-color-secondary-lightest:    map-get($site-palette, 'site-lightest-red');
$theme-color-secondary-lighter:     map-get($site-palette, 'site-lighter-red');
$theme-color-secondary-light:       map-get($site-palette, 'site-light-red');
$theme-color-secondary:             map-get($site-palette, 'site-red');
$theme-color-secondary-vivid:       false;
$theme-color-secondary-dark:        map-get($site-palette, 'site-dark-red');
$theme-color-secondary-darker:      map-get($site-palette, 'site-darker-red');
$theme-color-secondary-darkest:     map-get($site-palette, 'site-darkest-red');

// Grey colors
$theme-color-grey:                  'grey';
$theme-color-grey-lightest:         map-get($site-palette, 'site-lightest-grey');
$theme-color-grey-lighter:          map-get($site-palette, 'site-lighter-grey');
$theme-color-grey-light:            map-get($site-palette, 'site-light-grey');
$theme-color-grey:                  map-get($site-palette, 'site-grey');
$theme-color-grey-vivid:            false;
$theme-color-grey-dark:             map-get($site-palette, 'site-dark-grey');
$theme-color-grey-darker:           map-get($site-palette, 'site-darker-grey');
$theme-color-grey-darkest:          map-get($site-palette, 'site-darkest-grey');

// Accent warm colors
$theme-color-accent-warm-family:    'orange';
$theme-color-accent-warm-lightest:  false;
$theme-color-accent-warm-lighter:   '#{$theme-color-accent-warm-family}-10';
$theme-color-accent-warm-light:     '#{$theme-color-accent-warm-family}-20v';
$theme-color-accent-warm:           '#{$theme-color-accent-warm-family}-30v';
$theme-color-accent-warm-dark:      '#{$theme-color-accent-warm-family}-50v';
$theme-color-accent-warm-darker:    '#{$theme-color-accent-warm-family}-60';
$theme-color-accent-warm-darkest:   false;

// Accent cool colors
$theme-color-accent-cool-family:    'teal';
$theme-color-accent-cool-lightest:  map-get($site-palette, 'site-lightest-teal');
$theme-color-accent-cool-lighter:   map-get($site-palette, 'site-lighter-teal');
$theme-color-accent-cool-light:     map-get($site-palette, 'site-light-teal');
$theme-color-accent-cool:           map-get($site-palette, 'site-teal');
$theme-color-accent-cool-dark:      map-get($site-palette, 'site-dark-teal');
$theme-color-accent-cool-darker:    map-get($site-palette, 'site-darker-teal');
$theme-color-accent-cool-darkest:   map-get($site-palette, 'site-darkest-teal');

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family:     'red';
$theme-color-error-lighter:    map-get($site-palette, 'site-lightest-red');
$theme-color-error-light:      map-get($site-palette, 'site-lighter-red');
$theme-color-error:            map-get($site-palette, 'site-red');
$theme-color-error-dark:       map-get($site-palette, 'site-darker-red');
$theme-color-error-darker:     map-get($site-palette, 'site-darkest-red');

// Warning colors
$theme-color-warning-family:   'yellow';
$theme-color-warning-lighter:  map-get($site-palette, 'site-lightest-yellow');
$theme-color-warning-light:    map-get($site-palette, 'site-lighter-yellow');
$theme-color-warning:          map-get($site-palette, 'site-yellow');
$theme-color-warning-dark:     map-get($site-palette, 'site-darker-yellow');
$theme-color-warning-darker:   map-get($site-palette, 'site-darkest-yellow');

// Success colors
$theme-color-success-family:   'green';
$theme-color-success-lighter:  map-get($site-palette, 'site-lightest-green');
$theme-color-success-light:    map-get($site-palette, 'site-lighter-green');
$theme-color-success:          map-get($site-palette, 'site-green');
$theme-color-success-dark:     map-get($site-palette, 'site-darker-green');
$theme-color-success-darker:   map-get($site-palette, 'site-darkest-green');

// Info colors
$theme-color-info-family:      'teal';
$theme-color-info-lighter:     map-get($site-palette, 'site-lightest-teal');
$theme-color-info-light:       map-get($site-palette, 'site-lighter-teal');
$theme-color-info:             map-get($site-palette, 'site-teal');
$theme-color-info-dark:        map-get($site-palette, 'site-darker-teal');
$theme-color-info-darker:      map-get($site-palette, 'site-darkest-teal');

// Disabled colors
$theme-color-disabled-family:  'grey';
$theme-color-disabled-light:   map-get($site-palette, 'site-lightest-grey');
$theme-color-disabled:         map-get($site-palette, 'site-disabled-grey');
$theme-color-disabled-dark:    map-get($site-palette, 'site-darker-grey');

/*
----------------------------------------
General colors
----------------------------------------
*/

// Banner
$theme-banner-background-color: 'primary-lighter';

// Links
$theme-link-color:             'primary';
$theme-link-visited-color:     'violet-70v';
$theme-link-hover-color:       'primary-dark';
$theme-link-active-color:      'primary-darker';
