/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
COMPONENT SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://designsystem.digital.gov/design-tokens
----------------------------------------
*/

// Accordion
$theme-accordion-border-width: '1px' !default;
$theme-accordion-border-color: 'primary-light' !default;

// Alert
$theme-alert-bar-width: 0 !default;
$theme-alert-icon-size: 2 !default;
$theme-alert-padding-x: 2 !default;
$theme-alert-padding-y: '105' !default;

// Banner
$theme-banner-background-color: 'primary-lighter' !default;

// Button
$theme-button-stroke-width: 1px !default;

// Identifier
$theme-identifier-background-color: 'primary-darker' !default;
$theme-identifier-identity-domain-color: 'primary-light' !default;
$theme-identifier-secondary-link-color: 'primary-light' !default;

// Footer
$theme-footer-font-family: 'body' !default;

// Form and input
$theme-checkbox-border-radius: 1.5px !default;
$theme-input-line-height: 3 !default;
$theme-input-state-border-width: 2px !default;
$theme-input-tile-border-radius: 'lg' !default;
$theme-input-tile-border-width: 1px !default;

// Process List
$theme-process-list-connector-color: 'base-lighter' !default;
$theme-process-list-counter-background-color: 'primary-dark' !default;
$theme-process-list-counter-border-width: 0 !default;
$theme-process-list-counter-font-size: 'sm' !default;
$theme-process-list-counter-size: 3 !default;
$theme-process-list-counter-text-color: 'white' !default;
