/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
GENERAL SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://designsystem.digital.gov/design-tokens
----------------------------------------
*/

/*
----------------------------------------
Image path
----------------------------------------
Relative image file path
----------------------------------------
*/

$theme-image-path: if(variable-exists(image-path), $image-path, '../img');

/*
----------------------------------------
Show compile warnings
----------------------------------------
Show Sass warnings when functions and
mixins use nonstanard or false tokens.
----------------------------------------
*/

$theme-show-compile-warnings: false;
$theme-show-notifications: false;

/*
----------------------------------------
Focus styles
----------------------------------------
*/

$theme-focus-color: 'primary';
$theme-focus-offset: 1px;
$theme-focus-width: 2px;
