/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
UTILITIES SETTINGS
----------------------------------------
Read more about settings and
USWDS utilities in the documentation:
https://designsystem.digital.gov/utilities
----------------------------------------
*/

/*
----------------------------------------
Utility breakpoints
----------------------------------------
Which breakpoints does your project
need? Select as `true` any breakpoint
used by utilities or layout grid
----------------------------------------
*/

$theme-utility-breakpoints: (
  // 160px:
  'card': false,
  // 240px:
  'card-lg': false,
  // 320px:
  'mobile': false,
  // 480px:
  'mobile-lg': false,
  // 640px:
  'tablet': true,
  // 800px:
  'tablet-lg': false,
  // 1024px:
  'desktop': false,
  // 1200px:
  'desktop-lg': false,
  // 1400px:
  'widescreen': false
) !default;

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-palettes: ('palette-color-default', 'palette-color-state') !default;
