/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
UTILITIES SETTINGS
----------------------------------------
Read more about settings and
USWDS utilities in the documentation:
https://designsystem.digital.gov/utilities
----------------------------------------
*/

/*
----------------------------------------
Global colors
----------------------------------------
The following palettes will be added to
- background-color
- border-color
- color
- text-decoration-color
----------------------------------------
*/

$global-color-palettes: (
  'palette-color-default',
  'palette-color-state',
);

/*
----------------------------------------
Settings
----------------------------------------
*/

$width-settings: (
  output: true,
  responsive: false,
  active: false,
  focus: false,
  hover: false,
  visited: false,
);
