
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

.activity_log {
  list-style-type: none;
  margin-left: 0;
  margin-top: $grid-1;
  padding-left: 0;
  width: 100%;
}

.activity_log-item_line {
  cursor: pointer;
  font-family: $font-mono;
  font-size: $sans-s3;
  padding: $grid-1 0 $grid-1 $grid-2;
  position: relative; // For status-pill anchoring
}

.activity_log-item_text {
  word-wrap: break-word;
}

.activity_log-item_timestamp {
  text-align: right;

  // Override specificity of .panel span
  .activity_log-item_line & {
    font-family: $font-mono;
  }
}

.activity_log-item {
  border-bottom: 1px solid $color-lightgray;
  margin: 0;

  &:first-child {
    border-top: 1px solid $color-lightgray;
  }
}

.activity_log-item-error,
.activity_log-item-success,
.activity_log-item-warning {
  // Override specificity of .panel span
  .activity_log-item_line {
    .activity_log-item_text {
      font-family: $font-sans;
      font-weight: 600;
    }
  }
}

.activity_log-item-error {
  .activity_log-item_line {
    // Space above/below the status-pill
    // Keeping height based on offset keeps the pill vertically aligned
    $offset: 5px;

    &::before {
      @extend .status-pill !optional;
      border-color: $color-error; // #e31c3d;
      height: calc(100% - #{2 * $offset});
      top: $offset;
    }
  }
}

.activity_log-item_raw {
  margin-bottom: $grid-2;
  max-width: 60rem;
  min-width: 50rem;

  pre {
    padding: .8rem;
  }
}
