
@import '../override_vars.scss';
@import '../core.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/utilities.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';

/* stylelint-disable plugin/name-format */
@mixin button-color ($main_color, $hover_color) {
  background-color: $main_color;

  &:hover {
    background-color: $hover_color;
  }

  &.action-link,
  &.action-outline,
  &.usa-button-outline {
    color: $main_color;

    &:focus,
    &:active,
    &:hover {
      color: $hover_color;
    }
  }
}
/* stylelint-enable */

// TODO remove once usa-button deprecated
.usa-button {
  &:hover {
    background: $color-textblack;
  }
}

.action {
  &:hover {
    background: $color-textblack;
  }
}

/* stylelint-disable selector-no-qualifying-type */
a.action {
  padding-bottom: 0.55rem;
  padding-top: 0.55rem;
}
/* stylelint-enable */

.action-primary {
  @include button-color($color-primary, $color-textblack);
}

.action-base {
  @include button-color($color-textblack, $color-primary);
}

.action-cautious {
  @include button-color($color-lightgray, $color-lightgray);
}

.action-warning {
  @include button-color($color-warning, $color-textblack);
}

.action-finish {
  @include button-color($color-textgreen, $color-textblack);
}

.action-white {
  @include button-color(white, $color-primary);
}

.action-outline {
  box-shadow: inset 0 0 0 1px;
  background-color: transparent;

  &.action-outline {
    &:focus,
    &:hover,
    &:active {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px;
    }
  }
}

.action-link {
  background-color: transparent;
  color: $color-blue;
  font-size: inherit;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    background-color: transparent;
    color: $color-textblack;
  }

  & + .action-link,
  & + .action {
    margin-left: $grid-1;
  }
}

/* TODO refactor "actions" into own components */
.actions-large {
  background-color: $color-secondary-lightest;
  margin: (-$grid-4) (-$grid-3); // These match the .panel padding
  padding: $grid-6 $grid-4;
}

.actions-callout-inline-block {
  border: 1px solid;
  border-radius: 2px;
  display: inline-block;
  font-weight: 600;
  margin: 0 .25rem;
  padding: 0.05em .25em .2em;
}
