
@import '../core.scss';
@import '../override_vars.scss';

.billboard {
  margin-top: 0;

  @include media($medium-screen) {
    @include span-columns(8);
    float: none;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-right: auto;
    }
  }
}

.billboard-display_text {
  font-size: $sans-s9;
  font-weight: 600;
  line-height: $lh-cap;
  padding-top: $grid-2;

  & + .billboard-second_text {
    font-weight: 300;
    margin-top: $grid-2;
  }

  @include media($medium-screen) {
    font-size: $sans-s10;
  }
}

.billboard-second_text {
  font-size: $sans-s8;
  font-weight: 300;
  line-height: $lh-cap;

  @include media($medium-screen) {
    font-size: $sans-s9;
  }
}
