
@import '../override_vars.scss';
@import '../core.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';

$color-border: $color-textblack;

.complex_list {
  margin-bottom: $grid-1;

  & + .complex_list {
    margin-bottom: 0;

    .complex_list-header {
      margin-top: $grid-4;
    }
  }

  & > .complex_list {
    border-color: $color-lightgray;
    margin-bottom: 0;
    margin-left: $grid-4;
    margin-top: 0;

    .complex_list-item {
      border-color: $color-lightgray;

      &:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
      }
    }

    & + .complex_list-item {
      margin-top: $grid-2;
    }
  }
}

.complex_list-bottom_bordered {
  border-bottom: 1px solid $color-textblack;
}

.complex_list-header {
  margin-bottom: $grid-1;
}

.complex_list-title {
  font-size: $sans-s2;
  font-weight: 700;

}

.complex_list-item,
.complex_list-empty {
  border-color: $color-textblack;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-top-style: solid;
  border-top-width: 1px;
  font-size: $sans-s4;
  padding: $grid-105 0;

  & + .complex_list > .complex_list-item {
    border-bottom-width: 0;
  }

  & + .complex_list-item {
    border-top-width: 1px;
  }
}

.complex_list-light_border {
  & > .complex_list-item {
    border-color: $color-lightgray;
  }
}

.complex_list-item.saving {
  background: $color-notice;
}