@import '../override_vars.scss';
@import '../core.scss';

.contents-primary,
.contents-secondary {
  font-size: $sans-s6;
  font-weight: 400;
  line-height: $lh-single;
  position: relative;
  top: 2px;

  .icon-bordered {
    top: -2px;
  }

  .icon-medium {
    margin-right: $grid-05;
  }
}

.contents-path {
  color: $color-darkgray;
}
