
@import '../override_vars.scss';
@import '../core.scss';
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';

.elastic_line {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  &::after {
    content: '';
    flex-grow: 1;
    order: 0;
  }
}

.elastic_line-item {
  flex-grow: 0;

  & + .elastic_line-item {
    margin-left: $grid-3;

    &.elastic_line-item-end {
      flex-grow: 0;
      flex-shrink: 1;
      margin-left: auto;
      order: 1;
      padding-left: 1rem;
    }
  }
}

.elastic_line-item-end {
  margin-left: auto;
}
