
@import '../core.scss';

.footer {
  @include clearfix;
  padding-top: 2rem;
  margin-bottom: 4rem;

  &.grid {
    padding-left: $grid-2;
    padding-right: $grid-2;
    padding-top: 2rem;
  }
}

.footer-no_sidebar {
  &.grid {
    max-width: $no-sidebar-max-width;
    padding-left: $grid-2;
    padding-right: $grid-2;
  }
}

.footer-text {
  font-family: $font-sans;
  font-size: $sans-s2;
  font-weight: 400;
  line-height: 1.25rem;
}

.footer-link_style {
  color: $color-textblack;
  text-decoration: underline;
}

.footer-links {
  @extend .usa-unstyled-list;

  a {
    @extend .footer-text;
    @extend .footer-link_style;
  }
}

.footer-info {
  @extend .usa-unstyled-list;
  text-align: right;

  li {
    @extend .footer-text;
  }

  a {
    @extend .footer-link_style;
  }
}

// TODO find out what this is doing, if it's being used and move to .content
.content footer {
  border-top: 1px solid $color-lightgray;
  font-size: $sans-s2;
  font-weight: 600;
  margin-top: $grid-3;
  padding-bottom: 0;
  padding-top: $grid-2;
}

