
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

.form-notification {
  display: block;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
}

.form-notification-info {
  background-color: $color-finish;
  color: white;
}
