
@import '../core.scss';

.four_up {
  @include clearfix;
}

.four_up-part {
  margin-top: 3.75rem;

  @include media($medium-screen) {
    @include span-columns(3);
    margin-top: 0;
  }

  .hex_icon {
    margin: 0 auto 2rem auto;
  }

  .icon-container {
    margin-bottom: 1rem;
  }
}

.section-content + .four_up {
  margin-top: 3rem;
}
