.grid {
  @include outer-container;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  @include media($large-screen) {
    padding: 0;
  }

  // Keep .content backwards compatible
  //TODO probably delete this rule once all the repos adopt the new grid
  .content & {
    padding: 0;
  }

  // grid columns
  @for $i from 1 through 12 {
    .grid-width-#{$i} {
      @include span-columns(12);
      @include omega;

      @include media($medium-screen) {
        @include span-columns($i);
      }
    }
  }
}
