
@import '../core.scss';

.header {
  background: $color-white;
  min-height: 6.875rem;
}

.header-wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: $site-max-width;
  padding-bottom: $grid-3;
  padding-left: $grid-2;
  padding-right: $grid-2;
  padding-top: $grid-5;
}

.header-no_sidebar {
  .header-wrap {
    max-width: $no-sidebar-max-width;
  }
}

.header-title {
  float: left;
  margin-bottom: .6rem;
}

.header-side {

  float: left;
  position: relative;
  width: 100%;

  @include media($medium-screen) {

    float: right;
    width: calc(100% - 260px);
  }
}

.header-view {
  background: $color-white;
  padding-bottom: $grid-4;
}
