
@import '../core.scss';

.hex_icon {
  align-items: center;
  color: $color-white;
  display: flex;
  font-size: 78px;
  height: 5rem;
  justify-content: center;
  width: 4.35rem;

  & + h3 {
    margin-top: $grid-3;
  }

  .icon {
    max-height: 2rem;
    max-width: 2rem;
  }
}

.hex_icon-i {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.hex_icon-primary {
  background-image: url('#{$static-img-path}/icon-hex-primary.svg');
}

.hex_icon-alt {
  background-image: url('#{$static-img-path}/icon-hex-alt.svg');
}

.hex_icon-black {
  background-image: url('#{$static-img-path}/icon-hex-black.svg');
}
