
@import '../core.scss';

$primary-color: $color-blue;
$alt-color: $color-red;

.hexagon {
  background: $primary-color;
  height: .65em;
  margin-bottom: $grid-1;
  margin-top: $grid-1;
  position: relative;
  width: 1em;
}

.hexagon:before,
.hexagon:after {
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.hexagon:before {
  border-bottom: .25em solid $primary-color;
  top: -.244em;
}

.hexagon:after {
  border-top: .25em solid $primary-color;
  bottom: -.244em;
}

.hexagon-alt {
  background: $alt-color;

  &:before {
    border-bottom-color: $alt-color;
  }

  &:after {
    border-top-color: $alt-color;
  }
}

.hexagon-content {
  position: absolute;
  text-align: center;
  top: -100%;
  width: 100%;
  z-index: 1;
}
