
$z-foreground: 200;

.loading {
  height: 50%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: $z-foreground;
}

.loading-relative {
  top: auto;
}

$indicator-size: 3.5rem;

.loading-indicator {
  left: calc(50% - #{$indicator-size});
  position: absolute;
  top: calc(50% - #{$indicator-size});
  width: $indicator-size;
}

.loading-inactive {
  display: none;
}

.loading-inline {
  display: inline-block;
  font-size: 24px;
  height: 8px;
  line-height: 0;
  margin-bottom: 2px;
  margin-left: 8px;
  vertical-align: middle;
}

.loading-inline-dot {
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: blink;

  background-color: $color-primary;
  border-radius: 8px;
  color: $color-primary;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -10000px;
  width: 8px;
  vertical-align: middle;

  &:nth-child(2) {
    animation-delay: .2s;
  }

  &:nth-child(3) {
    animation-delay: .4s;
  }

  & + loading-inline-dot {
    margin-left: 1rem;
  }
}

.loading-inline-text {
  color: $color-primary;
  font-size: 0.875rem;
  font-weight: bold;
  margin-left: 1rem;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving {
  background: $color-notice;
  padding: 2px 9px;
  font-family: Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 1rem;
  font-style: italic;
}

.saving-relative {
  float: right;
}
