
@import '../core.scss';
@import '../override_vars.scss';
@import '../vars.scss';

.content.content-text {
  background-color: $color-white;
  padding: $grid-4 $grid-2 $grid-2;

  @include media($medium-screen) {
    padding: $grid-4;
  }
}

.main_content {
  &.content-no_sidebar {
    margin: 0 auto;
    max-width: $no-sidebar-max-width;
    padding: 0 $grid-2;
    width: auto;
  }
}

.content-no_sidebar {
  .content {
    margin: 0;
    max-width: none;
    padding: $grid-4 0 0;
    width: auto;
  }

  .grid {
    max-width: none;
  }
}
