
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

$font-color: white;
$font-size: $sans-s4;

.notification {
  display: block;
  min-height: 2.3rem;
  padding: $grid-1 0;
  width: 100%;

  + .notification {
    border-top: 2px solid white;
  }
}

.notification-wrap {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 $grid-2;
}

.header-no_sidebar {
  .notification-wrap {
    max-width: $no-sidebar-max-width;
  }
}

.notification-message {
  color: $font-color;
  flex-grow: 0;
  font-family: $font-sans;
  font-size: $font-size;
  font-weight: 700;

  + .notification-action {
    margin-left: $grid-3;
  }
}

.notification-action {
  color: $font-color;
  flex-grow: 0;
  font-size: $font-size;

  + .notification-action {
    margin-left: $grid-1;
  }

  + .notification-message {
    margin-left: $grid-3;
  }
}

.notification-dismiss {
  $icon-size: 1.8rem;
  background-image: url('#{$static-img-path}/close-white.svg');
  background-size: $icon-size $icon-size;
  background-position-y: -2px;
  color: $font-color;
  flex-grow: 0;
  flex-shrink: 1;
  margin-left: auto;
  order: 1;
  padding-left: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}

.notification-error {
  background-color: $color-red;
}

.notification-warning {
  background-color: $color-gold;

  .notification-message,
  .notification-action,
  .notification-dismiss {
    color: $color-textblack;
  }

  .notification-dismiss {
    background-image: url('#{$static-img-path}/close.svg');
  }
}

.notification-info {
  background-color: $color-darkgray;
}

.notification-finish {
  background-color: $color-textgreen;
}
