@import '../override_vars.scss';
@import '../core.scss';

.overview-row {
  border-top: 1px solid;
  height: $grid-6;

  &.indent-0 {
    margin-left: 0;
  }
  &.indent-1 {
    border-top: 1px solid $color-lightgray;
    margin-left: $grid-5;
  }
}

.overview-items {
  border-bottom: 1px solid $color-lightgray;
}

.overview-item-title {
  font-size: $sans-s6;
  font-weight: 400;
  line-height: 1;
  margin-left: 0;
  margin-top: 0;
  padding-left: $grid-105;
}

.overview-item-usage {
  text-align: right;
  width: 160px;
}

.overview-item-usage-amt {
  font-size: $sans-s5;
  line-height: $lh-single;
}

.overview-item-usage-helper {
  color: $color-darkgray;
  font-size: $sans-s3;
  line-height: $lh-single;
  padding-top: $grid-05;
}

.overview-item-title-path {
  color: $color-mediumgray;
}

.overview-column-heds {
  font-size: $sans-s2;
  font-weight: 600;
  padding-bottom: $grid-2;
}

.overview-item-status {
  font-size: $sans-s2;
  font-weight: 600;

  .status {
    margin-left: $grid-105;
  }
}
