@import '../override_vars.scss';
@import '../core.scss';

.page-header {
  display: flex;
  margin: 0 0 $grid-4;

  // Keeps all inline content centered at all times.
  &:before {
    content: '\200B';
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
}

.page-header-title {
  flex: 1;
  min-width: 26rem;

  .icon-large {
    top: -3px;
  }
}

.page-header-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: -$grid-1;

  .error-inline {
    width: auto;
  }
}
