
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

$panel-padding: $grid-3;

.panel {
  @include clearfix;
  background-color: $color-white;
  margin-bottom: $grid-4;
  padding: $grid-3 $grid-3 $grid-4;

  p, ul, li, span {
    font-family: $font-sans;
  }
}

.panel-title {
  font-size: $sans-s7;
  font-weight: 400;
  line-height: $lh-single;
  margin-bottom: 0;

  // TODO change from panel-rows once removed
  + .panel-rows {
    margin-top: $grid-2;
  }
}

.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: $grid-1;
}

.panel-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;

  p, span {
    font-size: 0.9rem;
  }
}

* + .panel-actions {
  margin-top: $grid-1;
}

.panel-actions + * {
  margin-top: $grid-2;
}

.panel-actions-right {
  justify-content: flex-end;
}

.panel-actions-both {
  justify-content: space-between;
}

