
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

.panel-documentation {
  border: 2px solid $color-lightgray;
  margin: $grid-4 0 $grid-4 0;
  padding: $grid-5;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: $grid-105;
  }

  p, ul, li, span {
    font-family: $font-sans;
    font-size: 0.875rem;
    line-height: $lh-display;
    max-width: 900px;

    & + ul {
      margin-top: $grid-2;
    }
  }

  ul {
    margin-left: $grid-3;
  }

  li {
    margin-bottom: $grid-2;
    margin-left: $grid-2;
  }

  pre {
    max-width: 488px;
    padding: $grid-2;

    & + p {
      margin-top: $grid-5;
    }
  }
}

.panel-documentation-desc {
  border: none;
  margin: $grid-2 0 $grid-4 0;
  padding: 0;

  p, ul, li, span {
    font-family: $font-serif;
    font-size: 1rem;
    font-style: italic;
  }
}
