
@import '../../../node_modules/uswds/src/stylesheets/core/defaults.scss';
@import '../override_vars.scss';
@import '../core.scss';

$panel-padding: $grid-3;

// TODO this is a hack, panel-row borders need to be reconciled, panel-row vs
// panel-row-bordered
.panel-row-clean {
  border: none !important; // stylelint-disable-line declaration-no-important
}

.panel-group {
  @include clearfix;
}

.panel-section {
  @include clearfix;

  margin-bottom: 0.65rem;

  & + .panel-group {
    margin-top: $grid-4;
  }
}

.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: $grid-1;

  .error-inline {
    width: auto;
  }
}

.panel-row-header {
  font-size: $sans-s2;
  font-weight: 700;
  margin-bottom: $grid-1;
}

.panel-row {
  $vertical-padding: $grid-105;
  border-top: 1px solid $color-textblack;
  padding: $vertical-padding 0;

  // TODO react problem can't return just rows without wrapped div.
  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  form {
    background-color: $color-background-light;
    flex-grow: 1;
    margin: 0;
    padding: $grid-2;
    display: block;
  }

  > .panel-row {
    border-top: 1px solid $color-lightgray;
    display: block;
    margin-bottom: $vertical-padding;
    margin-left: $grid-4;
    margin-top: $vertical-padding;
    padding-bottom: 0;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.panel-row-boxed {
  background-color: $color-white;
  border: 1px solid $color-textblack;
  border-radius: $rounded;
  margin-bottom: $grid-2;
  padding: 1.4rem $panel-padding;

  > .panel-row-is_clickable {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: $panel-padding;
  }

  .panel-row:last-child {
    padding-bottom: 0;
  }
}

.panel-row-bordered {
  border-top: 1px solid $color-lightgray;

  &:last-child {
    border-bottom: 1px solid $color-lightgray;
    margin-bottom: 0;
  }

}

.panel-row-space {
  margin-top: $grid-2;
}

.panel-row-is_clickable {
  cursor: pointer;
  margin: -$panel-padding;
  padding: $panel-padding;
}

.panel-block {
  padding-bottom: calc(1.5rem / 2);
  padding-left: 0;
  padding-right: 0;
  padding-top: calc(1.5rem / 2);

}

.panel-column {
  flex-grow: 1;
  font-size: $sans-s4;
  margin-right: 1rem;

  &:last-child,
  &.panel-column-last {
    margin-right: 0;
    text-align: right;
  }
}

.panel-column-error {
  border-left-color: $color-warning; // #e31c3d;
  border-left-style: solid;
  border-left-width: $grid-05;
  padding-left: $grid-1;
}

.panel-column-less {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 25%;
}

// TODO rename `-less` to something else
.panel-column-shrink {
  flex-grow: 0;
  margin-right: $grid-4;
}

.panel-new-date {
  color: $color-red;
  display: block;
  font-size: $sans-s4;
  font-weight: 600;
  padding-bottom: $grid-1;
}

.grid.panel-overview-header {
  border-bottom: $grid-05 solid $color-cream;
  margin: (-$grid-3) (-$grid-3) $grid-3 (-$grid-3);
  padding: $grid-3 $grid-3 $grid-4;
}
