
@import '../core.scss';

$chevron-size: 4.865rem;

.section {
  padding-bottom: 10rem;
  padding-top: 2.75rem;
}

.section-middle {
  padding-bottom: 10rem;
  padding-top: 1.5rem;
}

.section-content {
  margin-top: 0;
  &:last-child {
    margin-right: auto;
  }

  h3 {
    font-weight: 300;
  }

  @include media($medium-screen) {
    @include span-columns(8);
    float: none;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
      margin-right: auto;
    }

    h1 {
      font-size: $sans-s9;
    }

    h1, h2, h3, h4 {
      font-weight: 300;
    }
  }
}

.section-content {
  h1 + p {
    margin-top: $grid-4;
  }
}

.section-dark,
.section-blue,
.section-red {
  h1 + .section-displaytext {
    margin-top: $grid-4;
  }
  h1 + .section-dek {
    margin-top: $grid-2;
  }
}

.section-dark,
.section-blue,
.section-red,
.section-cream {
  color: $color-white;
  position: relative;

  a {
    color: $color-primary-alt;
  }

  &:before {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: $chevron-size;
    position: absolute;
    top: -$chevron-size;
    width: 100%;
  }
}

.section-dark {
  background-color: $color-textblack;

  &:before {
    background-image: url('#{$static-img-path}/chevron-top.svg');
    fill: $color-textblack;
  }

  .list-lined {
    font-size: $sans-s7;
  }
}

.section-blue {
  background-color: $color-blue;

  a,
  a:active,
  a:hover,
  a:visited {
    color: $color-white;
    text-decoration: underline;
  }

  &:before {
    background-image: url('#{$static-img-path}/chevron-top-blue.svg');
  }
}

.section-cream {
  background-color: $color-cream;
  color: $color-textblack;

  a,
  a:active,
  a:hover,
  a:visited {
    color: $color-red;
    text-decoration: underline;
  }

  a:active,
  a:hover {
    color: $color-textblack;
  }

  &:before {
    background-image: url('#{$static-img-path}/chevron-top-cream.svg');
  }
}

.section-red {
  background-color: $color-red;

  &:before {
    background-image: url('#{$static-img-path}/chevron-top-red.svg');
  }
}

.section-bg-parent {
  position: relative;
}

.section-bg {
  background-color: transparent;

  &:before {
    background: url('#{$static-img-path}/cg-bg-b.png') no-repeat 0 0;
    content: '';
    height: 44.3rem;
    left: -23rem;
    position: absolute;
    top: -160px;
    width: 39.85rem;
    z-index: -1;

    @include media($medium-screen) {
      left: -12rem;
    }
  }
}

.section-bg-far-r {
  background: url('#{$static-img-path}/cg-bg-c.png') no-repeat 278% 5vh;

  @include media($medium-screen) {
    background-position-x: 108%;
  }
}

.section-light {
  background: $color-white;
  position: relative;

  &:before {
    background-image: url('#{$static-img-path}/chevron-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: $chevron-size;
    position: absolute;
    top: -$chevron-size;
    width: 100%;
  }
}

.section-chevron_alt.section-chevron_alt {
  padding-bottom: 6.5rem;

  &:not(.section-first) {
    margin-top: -4.5rem;
    padding-top: $chevron-size;
  }

  &:not(.section-first) {
    &:before {
      background-image: url('#{$static-img-path}/chevron-top-inverse-black.svg');
      top: -$chevron-size;
    }
  }

  &:after {
    background-image: url('#{$static-img-path}/chevron-bottom-inverse-black.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    content: '';
    display: block;
    height: $chevron-size;
    position: absolute;
    width: 100%;
  }

  & + .section-middle {
    padding-top: 4.5rem;

    &:before {
      display: none;
    }
  }

  .section-icon {
    margin-top: 3.3rem;
  }
}

.section-first {
  &:before {
    display: none;
  }
}

.section-icon {
  left: 50%;
  margin-left: -2.4375rem;
  margin-top: 4.7rem;
  position: absolute;
  z-index: 1;
}

.section-card {
  border: 1px solid #bababa; // having trouble referencing $color-lightgray;
  border-radius: 3px;
  margin: 1rem 0;
  padding: 0 1rem;
}

.section-title {
  font-size: $sans-s8;
  font-weight: 300;
  line-height: $lh-cap;

  @include media($medium-screen) {
    font-size: $sans-s9;
  }
}

.section-displaytext {
  font-family: $font-sans;
  font-size: $sans-s6;
  font-weight: 400;
  line-height: $lh-display;

  @include media($medium-screen) {
    font-size: $sans-s7;
  }
}

.section-coltitle {
  font-size: $sans-s7;
  font-weight: 500;
  margin-top: $grid-3;
  padding-bottom: $grid-2;

  @include media($medium-screen) {
    font-size: $sans-s8;
  }
}
