
@import '../core.scss';
@import '../override_vars.scss';

$width-nav-sidebar: 300px;
$site-top:          124px;
$color-light-font:  #ffffff;
$color-background:  $color-primary-darkest;
$color-level-1-bg:  $color-background;
$color-level-2-bg:  $color-primary-darker;
$color-level-3-bg:  $color-primary-darker;
$color-highlight:   $color-gold;
$color-heading:     $color-primary-alt-light;

.sidenav-parent {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: $site-max-width;
  position: relative;

  @include media($medium-screen) {
    padding: $grid-4 $grid-2 0 $grid-2;
  }
}

.sidenav {
  // stylelint-disable plugin/declaration-block-max-declarations
  align-self: stretch;
  background-color: $color-cream;
  bottom: 0;
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
  padding: $grid-3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  // stylelint-enable

  @include media($medium-screen + $width-nav-sidebar) {
    background-color: transparent;
    display: block;
    padding: 0;
    position: static;
    width: $width-nav-sidebar;
  }

  &.active {
    display: block;
  }
}

.sidenav-main {
  align-self: auto;
  flex-grow: 1;
  padding: 0;
  width: 100%;

  @include media($medium-screen + $width-nav-sidebar) {
    width: calc(100% - #{$width-nav-sidebar});

    &.active {
      width: calc(100% - #{$width-nav-sidebar});
    }
  }
}

.sidenav-list {
  width: 100%;

  a {
    color: $color-blue;
    line-height: $lh-hed;
    word-wrap: break-word;

    &:hover {
      background-color: transparent;

      .sidenav-arrow {
        border-color: $color-textblack;
      }
    }
  }

  li {
    border-top: 0;
    font-size: $sans-s5;
    list-style: none;
  }

}

.sidenav-entity.sidenav-entity {
  color: $color-blue;
}

.sidenav-header {
  border-bottom: 1px solid $color-blue;
  margin: $grid-2 $grid-1 $grid-1 $grid-1;
}

.sidenav-header-text {
  color: $color-blue;
  display: inline-block;
  font-size: $sans-s2;
  letter-spacing: .15em;
  line-height: $lh-hed;
  padding: $grid-1 0;
  text-transform: uppercase;
}

.sidenav-level-one {

  > li {
    margin-bottom: 4px; //.2rem displaying inconsistently...

    > a .sidenav-arrow {
      display: block;
    }

    a:hover {
      color: $color-textblack;
    }
  }
}

.sidenav-arrow {
  border-right: 1px solid $color-blue;
  border-bottom: 1px solid $color-blue;
  float: right;
  height: $grid-1;
  width: $grid-1;
  display: none;
}

.sidenav-arrow-right {
  margin-top: .3rem;
  transform: rotate(-45deg);
}

.sidenav-arrow-down {
  margin-top: .2rem;
  transform: rotate(45deg);
}

.sidenav-level-one .sidenav-active {

  > a {
    text-decoration: none;
    cursor: default;

    &:hover,
    &:focus {
      color: $color-blue;
    }

    .sidenav-arrow {
      border-color: $color-blue;
    }
  }
}

.sidenav-level-two {
  a {
    margin-left: 9px;
    position: relative;

    &:before {
      background-color: $color-lightgray;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: $grid-05;
    }
  }

  > li:first-child > a:before {
    border-top-left-radius: $grid-1;
    border-top-right-radius: $grid-1;
    top: .1em;
    margin-top: $grid-05;
  }

  > li:last-child > a:before {
    border-bottom-left-radius: $grid-1;
    border-bottom-right-radius: $grid-1;
    bottom: .3em;
  }

  .sidenav-active {
    > a {
      color: $color-textblack;

      &:hover {
        color: $color-textblack;
      }

      &:before {
        background-color: $color-textblack;
      }
    }
  }

  > li {
    margin-bottom: 0;
  }
}

.sidenav-level-three {
  // Removes weird margin in list for third level
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;

  a {
    font-size: $sans-s3;
    font-weight: 600;

    &:before {
      background-color: $color-blue;
    }
  }

  a:hover {
    color: $color-textblack;

    &:before {
      background-color: $color-textblack;
    }
  }

  li {
    margin-top: 1px;
  }

  > li {
    margin-bottom: 0;
  }

  > li:first-child > a:before {
    top: 0;
  }

  > li:last-child {
    margin-bottom: 1px;
  }
}
