
@import '../core.scss';

.three_up {
  @include clearfix;
}

.three_up-part {
  margin-top: 4rem;
  padding-top: $grid-3;
  border-top: 2px solid;

  @include media($medium-screen) {
    @include span-columns(4);
    margin-top: $grid-3;
  }

  .hex_icon {
    margin: 0 auto 2rem auto;
  }

  .icon-container {
    margin-bottom: 1rem;
  }
}

.three_up-part-1 {
  border-color: $color-blue;
}

.three_up-part-2 {
  border-color: $color-green;
}

.three_up-part-3 {
  border-color: $color-red;
}

.section-content + .three_up {
  margin-top: 3rem;
}
