
@import '../override_vars.scss';
@import '../core.scss';

.title_bar {
  background-color: $color-blue;
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 .5rem 0 0;
  min-height: $grid-6;

  & > * {
    display: inline-block;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }

  @include media($medium-screen) {
    display: none;
  }
}

.title_bar-title {
  color: $color-white;
  font-size: 1rem;
}
