@import '../core.scss';

.usa-button.trigger {
  padding: 0 $grid-1;
}

.trigger-content {
  height: 100%;
  text-align: left;
}

.trigger-action {
  margin-left: $grid-3;
}

.trigger-icon {
  background-color: $color-white;
  border-radius: 4px;
  margin-right: $grid-1;
}

.usa-button-outline .trigger-icon {
  background-color: transparent;
}

.trigger-text {
  font-weight: 600;
  line-height: $lh-single;
}

.action.usa-button-outline:hover {
  .trigger-icon .icon-fill {
    fill: $color-textblack;
  }
}

.action-base.usa-button-outline:hover {
  .trigger-icon .icon-fill {
    fill: $color-blue;
  }
}

.action-warning.usa-button-outline {
  .trigger-icon .icon-fill,
  .trigger-action .icon-fill {
    fill: $color-red;
  }
}

.action-primary.usa-button-outline {
  .trigger-icon .icon-fill {
    fill: $color-blue;
  }
}

.action-finish.usa-button-outline {
  .trigger-icon .icon-fill,
  .trigger-action .icon-fill {
    fill: $color-green;
  }
}

.action-cautious.usa-button-outline {
  .trigger-icon .icon-fill,
  .trigger-action .icon-fill {
    fill: $color-lightgray;
  }
}

.action-cautious {
  .trigger-icon .icon-fill {
    fill: $color-lightgray;
  }
}
