@mixin disable-default-focus-styles {
  outline: none;
}

@function roundable-focus-outline-box-shadows(
  $offset: $theme-focus-offset,
  $width: $theme-focus-width
) {
  @return 0 0 0 $offset color('white'), 0 0 0 $width + $offset color($theme-focus-color);
}
