@use 'uswds-core' as *;

.usa-sidenav {
  a:not(.usa-button) {
    padding: units(2);

    &:hover {
      background-color: color('primary-lightest');
    }
  }

  .usa-current {
    color: color('primary-dark');

    &::after {
      background-color: color('secondary');
      border-radius: 0;
    }

    &:hover {
      color: color('primary-dark');
    }
  }

  > .usa-sidenav__item > .usa-sidenav__sublist {
    border-top: units(1px) solid color('base-lighter');
  }
}

.usa-sidenav__sublist a:not(.usa-button) {
  padding-left: units(4);
}

.usa-sidenav__sublist .usa-current {
  @include remove-bar;
}

.usa-sidenav__sublist .usa-sidenav__item {
  border-top: 0;
}
