@use 'uswds-core' as *;

.usa-image-example {
  figure {
    margin: 0;
    display: table;
  }

  figcaption {
    display: table-caption;
    caption-side: bottom;
  }

  .img--bordered {
    border-top: units(1px) solid color('base-lighter');
    border-right: units(1px) solid color('base-lighter');
    border-left: units(1px) solid color('base-lighter');
  }
}

@mixin usa-image-example($color) {
  img {
    border-bottom: units(1) solid color($color);
  }
  .usa-icon-list__icon {
    color: color($color);
  }
  .usa-icon-list__content {
    .image-example__do-dont {
      color: color($color);
      font-weight: bold;
    }
  }
}

.usa-image-example--correct {
  @include usa-image-example('success');
}

.usa-image-example--incorrect {
  @include usa-image-example('error');
}
