@use 'uswds-core' as *;

$alerts: 'success', 'warning', 'error', 'info', 'emergency';

.usa-alert {
  &,
  & .usa-alert__body {
    border-radius: radius('lg');
  }
}

@each $name in $alerts {
  .usa-alert--#{$name} .usa-alert__body::before {
    top: units($theme-alert-padding-y) + units(0.5);
  }
}
