
// Path
$static-font-path: '../fonts' !default;
$static-img-path: '../img' !default;

// Grid overrides
$grid-base-px: 8px; // the same value in px
$column: 48px !global;
$gutter: 24px !global;
$max-width: $grid-base-px * 130;         // 1040px;
