<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="main">
      <div class="container mx-auto px2 sm-px3">
        <main>
          <div class="mb3">
            <header class="py2 mt3 border-bottom">
              <div>
                <a href="/" title="login.gov" class="text-decoration-none">login.gov</a>
              </div>
              <h1 class="m0">Section heading</h1>
            </header>
            {{ content }}
          </div>
        </main>
      </div>
      <div class="sidebar py2 fixed overflow-auto top-0 bottom-0 left-0">
        {% include sidebar.html %}
      </div>
      {% include scripts.html %}
      {% include analytics.html %}
    </div>
  </body>
</html>
