@import 'uswds-theme/general';
@import 'uswds-theme/typography';
@import 'uswds-theme/spacing';
@import 'uswds-theme/color';
@import 'uswds-theme/utilities';

@import 'uswds';

// https://github.com/uswds/uswds/issues/2894
.bg-success-darker { background-color: color('success-darker'); }
.bg-success-dark { background-color: color('success-dark'); }
.bg-success { background-color: color('success'); }
.bg-success-lighter { background-color: color('success-lighter'); }
.bg-warning { background-color: color('warning'); }
.bg-warning-light { background-color: color('warning-light'); }

@import 'components/accordions';
@import 'components/alerts';
@import 'components/buttons';
@import 'components/code';
@import 'components/typography';
