@use 'uswds-core' as *;
@forward 'usa-textarea/src/styles/index';

.usa-textarea {
  @include u-border-color('primary-light');
  font-weight: font-weight('bold');
  background-color: color('primary-lightest');
  border-radius: radius('md');
}

.usa-textarea.usa-textarea--big {
  font-size: units(2.5);
  line-height: 1.5;
  height: 15rem;
}
